@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,200&display=swap');
.App {
  text-align: center;
}
body{
  background-color: #fdf7f6 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: #6e5d57;
  
}
h1{
  font-family: Poppins;
  color:#6e5d57;
  line-height: 0.8 !important;
  font-size: 9rem !important;

}
h3{
  line-height: 0.8;
  color:#d8a59e;

}
p{
  padding-top: 10px;
}

.landingpage-container{

  margin-bottom: 100px;
  max-width: 50%;
  margin: 200px auto;
  display: block;
  line-height: 0.8rem;
}

.landing-image{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin:auto ;
}
.subheader{
  display:grid;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 80px;
  font-family: Poppins;
}
.subheader-text{
  display:grid;
  justify-content: center; 
}

.landingpage-buttons{
  color: #6e5d57 !important;
  background-color:#f1dbd8 !important;
  border-color: #f1dbd8 !important;
  margin-top: 50px;
  
}
.about-container{
  margin: 100px 0 120px 0;
  max-width: 80%;
  width: 80%;
  margin: auto;
  display: block;
  margin-bottom: 120px;

}
.playlist-container{
  margin: 100px 0;
  width: 70%;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}
.signoff-container{
  margin: 100px 0 ;
  display:grid;
  justify-content: center;

}

.about-div{
  min-height: 10em;
  display:table-cell;
  vertical-align:middle;
}
.social-icons{
  display: grid;
  justify-content: center;
  margin-top: 50px;
}
.list-group-item{
  border: none !important;
  padding: 0.5rem 1.2rem !important;
  background-color: #fdf7f6 !important;
}
.left{
  padding: 0 3rem;
}
.footer{
  background-color:#f6d6d1;
  font-family: Poppins;
  text-decoration-style: wavy;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
